.contents {
    margin-top: 40px
}

.contents-prg {
    color: grey;
    margin-bottom: 9%;
}

.contents-title {
    color: #ff0058;
    font-weight: bold;
    font-size: 50px;
}

.baslık-p {
    margin-top: 20px;
    color: #ff5800;
}